@model IEnumerable<ReportViewModel>
@{
    Layout = null;
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReportDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.Longitude)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportStatus)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Location.Latitude)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Location.Longitude)
                </th>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>